<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/">To - do</a>
        </div>
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn"><%=locals.username%></a>
                <div class="dropdown-content">
                    <a href="#"><%=locals.email%></a>
                    <a href="/logout">Log Out</a>
                </div>
            </li>
        </ul>
    </nav>

</body>
</html>