<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up / Registration Form </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="signup_style.css" />
  </head>
  <body>
    <div class="container">
      <div class="center">
          <h1>Register</h1>
          <form method="POST" action="/signup">
              <div class="txt_field">
                  <input type="text" name="signupName" required>
                  <span></span>
                  <label>Name</label>
              </div>
              <div class="txt_field">
                  <input type="email" name="signupEmail" required>
                  <span></span>
                  <label>Email</label>
              </div>
              <div class="txt_field">
                  <input type="password" name="signupPassword" required>
                  <span></span>
                  <label>Password</label>
              </div>
              <!-- <div class="txt_field">
                  <input type="password" name="cpassword" required>
                  <span></span>
                  <label>Confirm Password</label>
              </div> -->
              <input name="submit" type="Submit" value="Sign Up">
              <div class="signup_link">
                  Have an Account ? <a href="/login">Login Here</a>
              </div>
          </form>
      </div>
  </div>
  </body>
</html>